body {
  background-color: rgb(209, 255, 215);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5em; 
  margin-top: 20px; 
}

.container {
  margin-top: 30px;
}

input[type="number"] {
  width: 200px;
  padding: 10px; 
  margin: 10px; 
  font-size: 1.2em; 
  border: 1px solid #ffa2ef; 
  border-radius: 5px;
}

.btn {
  width: 200px;
  padding: 15px; 
  margin: 10px 0; 
  font-size: 1.1em;
  background-color: rgb(255, 145, 145);
  border-radius: 5px;
  border: none; 
}

#result {
  font-size: 2em;
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(205, 191, 255);
  min-width: 180px;
  border-radius: 5px;
  display: inline-block;
}
